<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
	<title>Quotes Page</title>
</head>
<body>
	<div id="container">
	<h1>Select Your Favorite Quote</h1>
	<h3>Change quotes by refreshing the page.</h3>

	<div id="quote">"{{ quote }}"</div><br>&mdash;
	<div id = "quote-author">{{ quoteAuthor }}</div><br>


	<input type="hidden" id="quote-url-input" value={{quoteLink}} >
	<input type="hidden" id="quote-user_id-input" value={{user_id}}>
	
    <a href="" id = "add-quote">Save This Quote</a>
    <a href="/quotes/new">Add Quote</a>
    <a href = "/quotes/show">Show All Quotes</a>
  </div>
</body>
</html>