<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/main.css">
  <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
</head>
<body>
  <div>
    <h1>Quotation Station</h1>
    <h2>Please create an account</h2>
    <form action="/users" method="POST">

      <label for="email">Email</label><br>
      <input id="email" type="text" name="user[email]" placeholder="john.doe@example.com"><br>

      <label for="password">Password</label><br>
      <input id="password" type="password" name="user[password]" placeholder="P4ssw0rd1234"><br>

      <input type="submit" value="Sign Up">

    </form>
  </div>
</body>
</html>
